* {
  box-sizing: border-box;
}
a:visited {
  color: black;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "Gotham Bold";
  src: url("/src/assets/fonts/Gotham-Font/Gotham-Bold.otf");
  font-weight: bolder;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("/src/assets/fonts/proxima_ssv/Proxima Nova Bold.otf");
  font-weight: bolder;
}

.hpc-underlined {
  display: inline-block;
  position: relative;
  line-height: 1;
  white-space: nowrap;
}
.hpc-underlined .hpc-underlined__text {
  position: relative;
}

.hpc-underlined::before {
  content: "";
  display: block;
  position: absolute;
  height: 0.333em;
  right: -0.1em;
  bottom: 0;
  left: -0.1em;
  background-color: rgb(126, 255, 161);
  animation-delay: 0.3s;
  animation-duration: 0.5s;
  animation-name: grow;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.hpc-underlined--yellow::before {
  background-color: rgb(126, 255, 161);
}
::selection {
  color: black;
  background-color: rgb(126, 255, 161);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
